.about {
    .slideshow-container {
        text-align: center;

        &:hover {
            animation: hue-shift ease-in-out 4s infinite;
        }
        .slider{
            @media @tablet{
                width: 80%;
                height: 80%;
            }
        }
    }

    .team-container {
        h3 {
            text-align: center;
            ;
        }

        .team {
            display        : flex;
            align-items    : flex-start;
            flex-wrap      : wrap;
            justify-content: center;
            width          : 100%;
            text-align     : center;
            @media @phone{
                flex-direction: column;
            }

            div {
                display: flex;
                flex-direction: column;
                background-color: beige;
                width           : 30%;
                @media @stretch{
                    width: 35%;
                }
                @media @tablet{
                    width: 100%;
                }

                img {
                    width: 200px;

                }
            }

            p {
                padding: 25px;
            }
        }

    }
}