.about{
    .slideshow-container{
        text-align: center;
    }
    .team{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        div{
            width: 30%;
            img{
                width: 200px;
            }
        }
        p{
            padding: 25px;
        }
    }
}