// Home Content

.home {

  .banner {
    max-height         : 800px;
    height             : 800px;
    background-image   : url(../img/cta.webp);
    background-position: center;
    .flex(center, center);
  }

  .inner {
    background-color: white;
    opacity         : .8;
    max-width       : 680px;
    padding         : 32px;
    text-align      : center;
  }

  .buttons {
    .flex(center, center);
    margin-top     : 30px;

    .btn {
      .custom-btn(@bold-text-color, 100px, 45px, @text-over-button, 10px);
    }
  }

  .content {
    margin-top: 48px;
    padding   : 0px 32px;
    h3{
      text-align: center;
    }

    @media @phone {
      padding: 0px;
    }


    .features {
      margin-top     : 32px;
      .flex(space-between, center);
      @media @tablet {
        flex-direction: column;
        margin-bottom : 20px;
      }

      .margin {
        margin-left: 16px;

        @media @phone {
          margin-left: 0px;
        }
      }

      .feature-item {   
        .flex(space-between, center);
        flex-direction: column;
        width: 33%;

        @media @tablet {
          margin-bottom: 20px;
          width: 100%;
        }

        p {
          text-align: center
        }

        div {
          margin-top: 32px;
        }

        img {
          width: 100%;
          @media @tablet{
            max-height: 100%;
          }

        }

        .text-content {
          .flex(flex-end,center);
          flex-direction : column;
        }
      }
    }

    .layout {
      margin-top: 48px;

      .text {
        max-height         : 800px;
        height             : 600px;
        width              : 60%;
        background-image   : url(../img/cta.webp);
        background-position: center;
        .flex(center,center);
        @media @phone {
          width: 100%;
        }

        .fixed {
          position  : absolute;
          left      : 50%;
          opacity   : 1;
          text-align: start;

          @media @phone {
            left   : 0%;
            opacity: .8;
            text-align: center;
          }

          h3 {
            text-align: start;
            padding   : 5px 0px;
            @media @phone{
              text-align: center;
          }
          }

          .buttons {
            .flex(flex-start,flex-end);

            @media @phone {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

// home