// Home Content

.home {

  .banner {
    max-height         : 800px;
    height             : 800px;
    background-image   : url(../img/cta.png);
    background-position: center;
    display            : flex;
    justify-content    : center;
    align-items        : center;
  }

  .inner {
    background-color: white;
    opacity         : .8;
    max-width       : 680px;
    padding         : 32px;
    text-align      : center;
  }

  .buttons {
    display        : flex;
    justify-content: center;
    margin-top     : 30px;

    .btn {
      .custom-btn(@bold-text-color, 100px, 45px, @text-over-button, 10px);
    }
  }

  .content {
    margin-top: 48px;
    padding   : 0px 32px;

    @media @phone {
      padding: 0px;
    }


    .features {
      margin-top     : 32px;
      display        : flex;
      justify-content: space-between;

      @media @tablet {
        flex-direction: column;
        margin-bottom : 20px;
      }

      .margin {
        margin-left: 16px;

        @media @phone {
          margin-left: 0px;
        }
      }

      .feature-item {
        display       : flex;
        flex-direction: column;

        @media @tablet {
          margin-bottom: 20px;
        }

        p {
          text-align: center
        }

        div {
          margin-top: 32px;
          padding   : 0px 32px;
        }

        img {
          width: 100%;

        }

        .text-content {
          display        : flex;
          flex-direction : column;
          justify-content: flex-end;
        }
      }
    }

    .layout {
      margin-top: 48px;

      .text {
        max-height         : 800px;
        height             : 600px;
        width              : 60%;
        background-image   : url(../img/cta.png);
        background-position: center;
        display            : flex;
        justify-content    : center;
        align-items        : center;

        @media @phone {
          width: 100%;
        }

        .fixed {
          position  : absolute;
          left      : 50%;
          opacity   : 1;
          text-align: start;

          @media @phone {
            left   : 0%;
            opacity: .8;
            text-align: center;
          }

          h3 {
            text-align: start;
            padding   : 5px 0px;
            @media @phone{
              text-align: center;
          }
          }

          .buttons {
            justify-content: flex-start;

            @media @phone {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

// home