// Navigation code here
.nav-content{
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
    opacity: (.8);
    display: flex;  
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    z-index: 1;
    max-width: 1367px;
    img{
        width: 50px;
    }
    .friend-finder{
        display: flex;
        align-items: flex-end;
        h3{
            color: @nav-button-color;
        }
    }
}
.nav {
    text-align: right;
    background-color: white;
    align-self: center;
    @media @phone{
        align-self: flex-end;

    }
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    width: 100vw;
    color: @nav-button-color;
}

span {
    color: #54D17A;
}

label {
    margin: 0 20px 0 0;
    font-size: 32px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        font-size: 1.8rem;
        padding-top: 60px;
     
    }
    #toggle:checked + .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    
}